@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

/* css variables */
:root {
  --header: #5ca5a5;
  --primary: hsl(180, 52%, 96%);
  --primary-dark: hsl(180, 8%, 52%);
  --filter: hsl(180, 31%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  font-family: 'Spartan', sans-serif;
}

.header {
  background: url('./images/bg-header-desktop.svg') var(--header);
  width: 100%;
  height: 156px;
  position: relative;
}

#jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 76px 0;
  background-color: var(--primary);
  min-height: 100%;
}

.leftFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}

.job {
  max-width: 1110px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  padding: 32px 40px;
  justify-content: space-between;
}

.jobImage {
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.companyBox {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.companyName {
  color: var(--header);
}

.newTag {
  background-color: var(--header);
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
}
.featuredTag {
  background-color: black;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.detailsBox {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #7c8f8f;
  font-size: 15px;
}

.filter,
.selectedFilter {
  height: 32px;
  color: var(--header);
  background-color: var(--filter);
  padding: 8px;
  font-weight: 700;
}

.filter {
  border-radius: 4px;
}

.selectedFilterWrapper {
  display: flex;
  align-items: center;
}

.selectedFilter {
  display: inline;
  border-radius: 4px 0 0 4px;
}

.removeIconBox {
  width: 32px;
  height: 32px;
  background-color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
}

.removeIconBox:hover {
  background-color: black;
  cursor: pointer;
}

.filter:hover {
  background-color: var(--header);
  color: white;
  cursor: pointer;
}

.searchBox {
  max-width: 1110px;
  width: 85%;
  /* height: 72px; */
  z-index: 1;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  visibility: hidden;
}

.job,
.searchBox {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.selectedFiltersBox {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.clearBtn {
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #7c8f8f;
  background-color: white;
  font-family: 'Spartan';
  cursor: pointer;
}

.clearBtn:hover {
  color: var(--header);
  text-decoration: underline;
}

.leftBorder {
  border-left: solid 5px var(--header);
}

.lineDiv {
  visibility: hidden;
}

@media (max-width: 1005px) {
  .job {
    flex-direction: column;
    width: auto;
  }
  .filter {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .job {
    width: 90%;
    margin: 0 24px;
  }
  .filter {
    margin-top: 0px;
  }
  .title {
    font-size: 15px;
  }
  .companyName {
    font-size: 13px;
  }
  .detailsBox {
    font-size: 13px;
  }
  .filters {
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .filter {
    font-size: 13px;
  }

  .job {
    position: relative;
    padding: 32px 24px 24px 24px;
  }

  .jobImage {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -24px;
    left: 24px;
  }

  .leftFlex {
    justify-content: flex-start;
  }

  .filters {
    justify-content: flex-start;
    margin-top: 16px;
  }

  #jobs {
    row-gap: 38px;
    padding-top: 44px;
  }

  .lineDiv {
    visibility: visible;
    width: 100%;
    border: 0.1px solid #b7c4c4;
    margin-top: 16px;
    opacity: 0.3;
  }

  .searchBox {
    width: 90%;
    padding: 20px;
  }

  .selectedFilter {
    font-size: 13px;
  }

  .selectedFiltersBox {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
